# List

In [1]:
lst=["Ketan","Shelke",10,11,1.2,[3,4,5]]

In [2]:
lst

['Ketan', 'Shelke', 10, 11, 1.2, [3, 4, 5]]

In [3]:
lst[5]

[3, 4, 5]

In [4]:
lst.append("Marketplace Tech")

In [5]:
lst

['Ketan', 'Shelke', 10, 11, 1.2, [3, 4, 5], 'Marketplace Tech']

In [6]:
lst.index("Marketplace Tech")

6

In [7]:
lst.insert(1,"Machindra")

In [8]:
lst

['Ketan', 'Machindra', 'Shelke', 10, 11, 1.2, [3, 4, 5], 'Marketplace Tech']

In [9]:
lst.reverse()

In [10]:
lst

['Marketplace Tech', [3, 4, 5], 1.2, 11, 10, 'Shelke', 'Machindra', 'Ketan']

In [11]:
lst1=["a","b","c"]
lst2=[1,2,3]

In [12]:
lst1

['a', 'b', 'c']

In [13]:
lst2

[1, 2, 3]

In [14]:
lst3=lst1+lst2

In [15]:
lst3

['a', 'b', 'c', 1, 2, 3]

In [16]:
lst

['Marketplace Tech', [3, 4, 5], 1.2, 11, 10, 'Shelke', 'Machindra', 'Ketan']

In [17]:
lst.reverse()

In [18]:
lst

['Ketan', 'Machindra', 'Shelke', 10, 11, 1.2, [3, 4, 5], 'Marketplace Tech']

In [19]:
lst.remove("Marketplace Tech")

In [20]:
lst

['Ketan', 'Machindra', 'Shelke', 10, 11, 1.2, [3, 4, 5]]

# Dictionaries

In [35]:
dit= {
    "First Name" : "Ketan",
    "Last Name" : "Shelke",
    "Mobile No" : "9564212235",
    "Age" : 28
}

In [38]:
dit

{'First Name': 'Ketan',
 'Last Name': 'Shelke',
 'Mobile No': '9564212235',
 'Age': 28}

In [39]:
type(dit)

dict

In [44]:
dit.get('First Name')

'Ketan'

In [45]:
dit.items()

dict_items([('First Name', 'Ketan'), ('Last Name', 'Shelke'), ('Mobile No', '9564212235'), ('Age', 28)])

In [46]:
dit.keys()

dict_keys(['First Name', 'Last Name', 'Mobile No', 'Age'])

In [48]:
dit.update({"Mobile No":"8523697412"})

In [49]:
dit

{'First Name': 'Ketan',
 'Last Name': 'Shelke',
 'Mobile No': '8523697412',
 'Age': 28}

In [50]:
dit.values()

dict_values(['Ketan', 'Shelke', '8523697412', 28])

In [51]:
dit.pop("Age")

28

In [52]:
dit

{'First Name': 'Ketan', 'Last Name': 'Shelke', 'Mobile No': '8523697412'}

# Sets

In [53]:
sets={"Ball","Apple","Cat",5,6,6,4,2,2,3,1}

In [54]:
sets

{1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat'}

In [55]:
sets.add("Red")

In [56]:
sets

{1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat', 'Red'}

In [57]:
len(sets)

10

In [58]:
sets.issubset({"Black"})

False

In [65]:
sets.issubset({'Apple', 'Ball'})

False

In [60]:
sets

{1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat', 'Red'}

In [66]:
sets.remove("Red")

In [67]:
sets

{1, 2, 3, 4, 5, 6, 'Apple', 'Ball', 'Cat'}

# Tuple

In [72]:
tup=("Ketan","Shelke",11,21,11)

In [69]:
tup

('Ketan', 'Shelke', 11, 21)

In [73]:
tup.count(11)

2

In [74]:
tup.index("Shelke")

1

# Boolean

In [75]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# String

In [76]:
Par="Hello"

In [77]:
Par

'Hello'

In [84]:
Par.count("l")

2

In [85]:
Par[2:5]

'llo'

In [86]:
Par.upper()

'HELLO'

In [87]:
a="ketan"
b="@gmail.com"

In [88]:
a

'ketan'

In [89]:
b

'@gmail.com'

In [90]:
c=a+b

In [91]:
c

'ketan@gmail.com'